/* Common Styles */

@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  font-family: 'Lato', sans-serif;
  background-color: #f4f4f4;
}

.container--max-width {
  max-width: 1172px;
  margin-left: auto;
  margin-right: auto;
}

.section-title-wrapper {
  float: left;
  width: 100%;
}

.section-title {
  display: inline-block;
  font-size: 28px;
  font-weight: bold;
  line-height: 34px;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  margin-bottom: 15px;
  color: #000000;
}

.read-more {
  float: right;
  font-size: 24px;
  margin-top: 30px;
  line-height: 29px;
  color: #000000;
}

@media (min-width: 768px) {

  .section-title {
    font-size: 26px;
    line-height: 32px;
    padding-bottom: 2px;
    margin-bottom: 20px;
  }

  .read-more {
    display: none;
  }

}

@media (min-width: 992px) {

  .section-title {
    font-size: 34px;
    line-height: 41px;
    padding-bottom: 7px;
    margin-bottom: 30px;
  }

}

/* Header Styles */

header {
  padding: 15px 15px 20px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  font-size: 0;
  background-color: #ffffff;
}

.header-menu {
  width: 30px;
  margin-top: 3px;
  background-color: transparent;
  border: none;
  padding: 0;
  vertical-align: top;
}

.header-menu > span {
  float: left;
  width: 100%;
  border: solid 0.8px #000000;
}

.header-menu > span + span {
  margin-top: 8.8px;
}

.header-title {
  display: inline-block;
  margin-left: 17px;
  font-size: 22px;
  font-weight: bold;
  line-height: 30px;
  color: #000000;
  vertical-align: top;
}

.header-search {
  float: right;
  background-color: transparent;
  border: none;
  padding: 0;
}

@media (min-width: 768px) {

  header {
    padding: 20px;
  }

}

@media (min-width: 992px) {

  header {
    padding: 30px 40px;
  }

  .header-title {
    font-size: 32px;
    margin-left: 25px;
  }

}

/* Lead Section */

#lead-section {
  background-color: #ffffff;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

#lead-section .image {
  float: left;
  width: 100%;
  height: 243px;
  background-image: url('//quintype-01.imgix.net/quintype-demo/2015-11/21006f30-9d7e-4219-ba96-4b2fd945e53c/cuba14.jpg');
  background-size: cover;
}

#lead-section .story-details {
  float: left;
  width: 100%;
  padding: 16px 15px 25px;
}

#lead-section .story-section {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 19px;
  letter-spacing: 1.5px;
  padding-bottom: 2px;
  border-bottom: solid 3px #edd30d;
  margin-bottom: 3px;
}

#lead-section .story-details .title {
  margin-bottom: 20px;
  font-size: 26px;
  line-height: 1.31;
  color: #222222;
}

#lead-section .story-details .info {
  font-size: 12px;
  line-height: 1.53;
  color: #5c5c5c;
  margin-bottom: 29px;
}

#lead-section .story-details .author-image {
  float: left;
  width: 54px;
  height: 54px;
  margin-right: 16px;
  background-color: #9b9b9b;
}

#lead-section .story-details .author {
  font-size: 16px;
  line-height: 19px;
  color: #818181;
}

#lead-section .story-details .posted {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: #3d3d3d;
}

@media (min-width: 768px) {

  #lead-section .image {
    width: 50%;
    height: 295px;
  }

  #lead-section .story-details {
    width: 50%;
    padding: 26px 20px;
  }

  #lead-section .story-section {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1.1px;
    padding-bottom: 2.5px;
    margin-bottom: 3.5px;
  }

  #lead-section .story-details .title {
    font-size: 22px;
    margin-bottom: 14px;
  }

  #lead-section .story-details .author-image {
    width: 35px;
    height: 35px;
    margin-right: 10px;
  }

  #lead-section .story-details .author {
    font-size: 12px;
    line-height: 15px;
  }

  #lead-section .story-details .posted {
    margin-top: 3px;
    font-size: 10px;
    line-height: 12px;
  }

}

@media (min-width: 992px) {

  #lead-section .image {
    height: 444px;
  }

  #lead-section .story-details {
    padding: 33px 30px 41px;
  }

  #lead-section .story-section {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 1.6px;
    padding-bottom: 3px;
    margin-bottom: 14px;
  }

  #lead-section .story-details .title {
    margin-bottom: 19px;
    font-size: 34px;
    line-height: 1.24;
  }

  #lead-section .story-details .info {
    font-size: 18px;
    line-height: 1.56;
    margin-bottom: 45px;
  }

  #lead-section .story-details .author-image {
    width: 54px;
    height: 54px;
    margin-right: 16px;
  }

  #lead-section .story-details .author {
    font-size: 18px;
    line-height: 22px;
  }

  #lead-section .story-details .posted {
    margin-top: 7px;
    font-size: 14px;
    line-height: 17px;
  }

}

@media (min-width: 1172px) {

  #lead-section {
    margin-top: 40px;
  }

}

/* Must Reads */

#must-reads {
  position: relative;
  color: #ffffff;
}

#must-reads::after {
  content: "Must Reads";
  display: block;
  width: 100%;
  position: absolute;
  top: 70px;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -0.3px;
  line-height: 34px;
  text-align: center;
}

.carousel-image {
  height: 379px;
  background-image: url('//quintype-01.imgix.net/quintype-demo/2015-11/21006f30-9d7e-4219-ba96-4b2fd945e53c/cuba14.jpg');
  background-size: cover;
}

.carousel-image::after {
  content: "";
  display: block;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel-caption > .heading {
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 50px;
}

.carousel-caption > button {
  padding: 10px 25px;
  line-height: 16px;
  border: solid 2.2px #ffffff;
  border-radius: 90px;
  background-color: transparent;
  font-size: 15.8px;
  font-weight: bold;
  letter-spacing: 2.2px;
  text-transform: uppercase;
}

.carousel-control {
  width: 45px;
  top: 46%;
  bottom: auto;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgba(0, 0, 0, 1);
}

.carousel-control > img {
  width: 100%;
}

@media (min-width: 768px) {

  #must-reads::after {
    top: 32px;
    font-size: 22px;
    letter-spacing: -0.2px;
    line-height: 27px;
  }

  .carousel-image {
    height: 248px;
  }

  .carousel-caption {
    right: 15%;
    left: 15%;
    padding-bottom: 10px;
  }

  .carousel-caption > .heading {
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 34px;
  }

  .carousel-caption > button {
    border-width: 1.6px;
    border-radius: 65.5px;
    padding: 9px 20px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1.6px;
  }

  .carousel-control {
    margin-left: 13px;
    margin-right: 13px;
  }

}

@media (min-width: 992px) {

  #must-reads::after {
    top: 38px;
    font-size: 34px;
    letter-spacing: -0.3px;
    line-height: 41px;
  }

  .carousel-image {
    height: 379px;
  }

  .carousel-caption {
    padding-bottom: 20px;
  }

  .carousel-caption > .heading {
    font-size: 38px;
    line-height: 50px;
    margin-bottom: 55px;
  }

  .carousel-caption > button {
    border-width: 2.4px;
    border-radius: 100px;
    padding: 14px 35px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
  }

  .carousel-control {
    width: 70px;
    top: 43%;
    margin-left: 20px;
    margin-right: 20px;
  }

}

/* Politics */

#politics-section {
  padding: 30px 15px 0;
}

#politics-section .section-title {
  border-bottom-color: #6093f2;
}

#politics-section .left-container {
  float: left;
  width: 100%;
}

#politics-section .middle-container {
  float: left;
  width: 100%;
  margin-top: 30px;
}

#politics-section .right-container {
  float: left;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 30px;
}

#politics-section .story-div {
  height: 511px;
  padding-left: 5%;
  padding-right: 5%;
  position: relative;
  background-image: url('//quintype-01.imgix.net/quintype-demo/2015-11/21006f30-9d7e-4219-ba96-4b2fd945e53c/cuba14.jpg');
  background-size: cover;
  color: #ffffff;
}

#politics-section .story-div::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

#politics-section .story-div .story-text {
  position: absolute;
  width: 90%;
  bottom: 19px;
}

#politics-section .story-div .story-text .title {
  font-size: 28px;
  font-weight: bold;
  line-height: 1.36;
  margin-bottom: 21px;
}

#politics-section .story-div .story-text .author {
  font-size: 16px;
  line-height: 19px;
}

#politics-section .story-card {
  background-color: #ffffff;
  box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.1);
}

#politics-section .story-card + .story-card {
  margin-top: 31px;
}

#politics-section .story-card .story-image {
  height: 225px;
  background-image: url('//quintype-01.imgix.net/quintype-demo/2015-11/21006f30-9d7e-4219-ba96-4b2fd945e53c/cuba14.jpg');
  background-size: cover;
}

#politics-section .story-card .story-details {
  padding: 19px;
}

#politics-section .story-card .story-title {
  font-size: 26px;
  line-height: 1.31;
  color: #222222;
}

#politics-section .story-card .story-author {
  margin-top: 21px;
  font-size: 16px;
  line-height: 19px;
  color: #818181;
}

#politics-section .story-slides {
  float: left;
  width: 100%;
  padding-bottom: 12px;
  border-bottom: solid 1px #d8d8d8;
}

#politics-section .story-slides:last-child {
  border-bottom: none;
}

#politics-section .story-slides + .story-slides {
  margin-top: 20px;
}

#politics-section .story-slides .title {
  font-size: 22px;
  font-weight: bold;
  line-height: 1.45;
  color: #222222;
}

#politics-section .story-slides .author {
  margin-top: 14px;
  font-size: 14px;
  line-height: 17px;
  color: #818181;
}

@media (min-width: 768px) {

  #politics-section {
    padding: 31px 20px 0;
  }

  #politics-section .left-container {
    width: 48%;
  }

  #politics-section .middle-container {
    width: 48%;
    margin-left: 4%;
    margin-top: 0;
  }

  #politics-section .right-container {
    padding-left: 0;
    padding-right: 0;
  }

  #politics-section .story-div {
    height: 577px;
  }

  #politics-section .story-div .story-text {
    bottom: 16px;
  }

  #politics-section .story-div .story-text .title {
    font-size: 32px;
    line-height: 1.13;
    margin-bottom: 30px;
  }

  #politics-section .story-div .story-text .author {
    font-size: 14px;
    line-height: 17px;
  }

  #politics-section .story-card + .story-card {
    margin-top: 22px;
  }

  #politics-section .story-card .story-image {
    height: 200px;
  }

  #politics-section .story-card .story-details {
    padding: 15px 16px 16px;
  }

  #politics-section .story-card .story-title {
    font-size: 22px;
    line-height: 1.36;
  }

  #politics-section .story-card .story-author {
    margin-top: 31px;
    font-size: 14px;
    line-height: 17px;
  }

  #politics-section .story-slides {
    width: 48%;
  }

  #politics-section .story-slides:nth-last-child(2) {
    border-bottom: none;
  }

  #politics-section .story-slides:nth-child(even) {
    margin-left: 4%;
  }

  #politics-section .story-slides + .story-slides {
    margin-top: 15px;
  }

  #politics-section .story-slides:nth-child(2) {
    margin-top: 0;
  }

  #politics-section .story-slides .title {
    font-size: 18px;
    line-height: 1.44;
  }

  #politics-section .story-slides .author {
    margin-top: 16px;
  }

}

@media (min-width: 992px) {

  #politics-section {
    padding-top: 39px;
  }

  #politics-section .left-container {
    width: 30%;
  }

  #politics-section .middle-container {
    width: 30%;
    margin-left: 5%;
  }

  #politics-section .right-container {
    width: 30%;
    margin-left: 5%;
    margin-top: 0;
  }

  #politics-section .story-div {
    height: 610px;
  }

  #politics-section .story-div .story-text {
    bottom: 22px;
  }

  #politics-section .story-div .story-text .title {
    font-size: 34px;
    line-height: 1.18;
    margin-bottom: 20px;
  }

  #politics-section .story-div .story-text .author {
    font-size: 16px;
    line-height: 19px;
  }

  #politics-section .story-card + .story-card {
    margin-top: 23px;
  }

  #politics-section .story-card .story-image {
    height: 208px;
  }

  #politics-section .story-card .story-details {
    padding: 17px 17px 22px;
  }

  #politics-section .story-card .story-title {
    font-size: 24px;
    line-height: 1.42;
  }

  #politics-section .story-card .story-author {
    margin-top: 19px;
    font-size: 16px;
    line-height: 19px;
  }

  #politics-section .story-slides {
    width: 100%;
    padding-bottom: 17px;
  }

  #politics-section .story-slides:nth-last-child(2) {
    border-bottom: solid 1px #d8d8d8;
  }

  #politics-section .story-slides:nth-child(even) {
    margin-left: 0;
  }

  #politics-section .story-slides + .story-slides {
    margin-top: 19px;
  }

  #politics-section .story-slides .title {
    font-size: 22px;
    line-height: 1.45;
  }

  #politics-section .story-slides .author {
    margin-top: 10px;
  }

}

/* Food & Health */

#health-section {
  padding: 25px 15px;
}

#health-section .section-title {
  border-bottom-color: #f260a4;
}

#health-section .left-container {
  float: left;
  width: 100%;
}

#health-section .right-container {
  float: left;
  width: 100%;
  margin-top: 20px;
}

#health-section .story-card {
  position: relative;
  background-color: #ffffff;
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.1);
}

#health-section .story-card + .story-card {
  margin-top: 20px;
}

#health-section .story-card .story-image {
  float: left;
  width: 47%;
  height: 127px;
  background-image: url('//quintype-01.imgix.net/quintype-demo/2015-11/21006f30-9d7e-4219-ba96-4b2fd945e53c/cuba14.jpg');
  background-size: cover;
}

#health-section .story-card .story-details {
  float: left;
  width: 53%;
  padding: 10px 12px;
}

#health-section .story-card .story-title {
  font-size: 14px;
  color: #222222;
  line-height: 1.5;
}

#health-section .story-card .story-author {
  position: absolute;
  bottom: 10px;
  font-size: 12px;
  line-height: 15px;
  color: #818181;
}

#health-section .story-card-big {
  background-color: #ffffff;
  box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.1);
}

#health-section .story-card-big .story-image {
  height: 225px;
  background-image: url('//quintype-01.imgix.net/quintype-demo/2015-11/21006f30-9d7e-4219-ba96-4b2fd945e53c/cuba14.jpg');
  background-size: cover;
}

#health-section .story-card-big .story-details {
  padding: 20px 19px 17px;
}

#health-section .story-card-big .story-title {
  font-size: 26px;
  line-height: 1.31;
  color: #222222;
}

#health-section .story-card-big .story-info {
  margin-top: 11px;
  font-size: 14px;
  line-height: 1.7;
  color: #5c5c5c;
}

#health-section .story-card-big .story-author {
  margin-top: 21px;
  font-size: 16px;
  line-height: 19px;
  color: #818181;
}

@media (min-width: 768px) {

  #health-section {
    padding: 30px 20px;
  }

  #health-section .left-container {
    width: 50%;
    padding-right: 8.5px;
  }

  #health-section .right-container {
    width: 50%;
    margin-top: 0;
    padding-left: 8.5px;
  }

  #health-section .story-card {
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
  }

  #health-section .story-card + .story-card {
    margin-top: 18px;
  }

  #health-section .story-card .story-image {
    height: 113px;
  }

  #health-section .story-card .story-details {
    padding: 8px 10px;
  }

  #health-section .story-card .story-title {
    line-height: 1.29;
  }

  #health-section .story-card .story-author {
    bottom: 8px;
  }

  #health-section .story-card-big {
    min-height: 375px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
  }

  #health-section .story-card-big .story-image {
    height: 200px;
  }

  #health-section .story-card-big .story-details {
    padding: 12px 16px 8px;
  }

  #health-section .story-card-big .story-title {
    font-size: 18px;
    line-height: 1.44;
  }

  #health-section .story-card-big .story-info {
    margin-top: 9px;
    font-size: 12px;
    line-height: 1.5;
  }

  #health-section .story-card-big .story-author {
    margin-top: 23px;
    font-size: 14px;
    line-height: 17px;
  }

}

@media (min-width: 992px) {

  #health-section {
    padding-top: 40px;
    padding-bottom: 50px;
  }

  #health-section .left-container {
    padding-right: 13.5px;
  }

  #health-section .right-container {
    padding-left: 13.5px;
  }

  #health-section .story-card {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  }

  #health-section .story-card + .story-card {
    margin-top: 30px;
  }

  #health-section .story-card .story-image {
    height: 181px;
  }

  #health-section .story-card .story-details {
    padding: 14px 16px;
  }

  #health-section .story-card .story-title {
    font-size: 22px;
    line-height: 1.36;
  }

  #health-section .story-card .story-author {
    bottom: 14px;
    font-size: 16px;
    line-height: 19px;
  }

  #health-section .story-card-big {
    min-height: 603px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  }

  #health-section .story-card-big .story-image {
    height: 321px;
  }

  #health-section .story-card-big .story-details {
    padding: 20px 27px 17px;
  }

  #health-section .story-card-big .story-title {
    font-size: 30px;
    line-height: 1.4;
  }

  #health-section .story-card-big .story-info {
    margin-top: 15px;
    font-size: 18px;
    line-height: 1.56;
  }

  #health-section .story-card-big .story-author {
    margin-top: 43px;
    font-size: 16px;
    line-height: 19px;
  }

}

/* Recent Stories */

#recent-stories {
  padding: 30px 15px;
  color: #000000;
  background-color: #ffffff;
}

#recent-stories .section-title {
  border-bottom-color: #2f73e4;
}

#recent-stories .story {
  margin-bottom: 30px;
  max-width: 826px;
}

#recent-stories .story-image {
  float: left;
  width: 45%;
  height: 127px;
  background-image: url('//quintype-01.imgix.net/quintype-demo/2015-11/21006f30-9d7e-4219-ba96-4b2fd945e53c/cuba14.jpg');
  background-size: cover;
}

#recent-stories .story-details {
  float: left;
  width: 55%;
  padding-left: 10px;
}

#recent-stories .story-section {
  display: inline-block;
  font-size: 11px;
  line-height: 13px;
  padding-bottom: 2.3px;
  margin-bottom: 7.7px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: solid 2.4px #60bcf2;
}

#recent-stories .story-section.underline-pink {
  border-color: #f260a4;
}

#recent-stories .story-title {
  margin-bottom: 11px;
  font-size: 14px;
  line-height: 21px;
  color: #222222;
}

#recent-stories .story-author {
  font-size: 12px;
  line-height: 15px;
  color: #818181;
  margin-bottom: 1px;
}

#recent-stories .story-posted {
  font-size: 10px;
  font-weight: 300;
  line-height: 12px;
  color: #3d3d3d;
}

.loader {
  font-size: 0;
  text-align: center;
}

.loader .circle {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #2f73e4;
}

.loader .circle + .circle {
  margin-left: 15px;
}

@media (min-width: 768px) {

  #recent-stories {
    padding: 43px 20px 20px;
  }

  #recent-stories .story {
    margin-bottom: 37px;
  }

  #recent-stories .story-image {
    height: 246px;
  }

  #recent-stories .story-details {
    padding-left: 27px;
  }

  #recent-stories .story-section {
    font-size: 12px;
    line-height: 15px;
    border-width: 2.6px;
    letter-spacing: 1.1px;
    padding-bottom: 1.8px;
    margin-bottom: 12.2px;
  }

  #recent-stories .story-title {
    margin-bottom: 32px;
    font-size: 26px;
    line-height: 32px;
  }

  #recent-stories .story-author {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 4px;
  }

  #recent-stories .story-posted {
    font-size: 12px;
    line-height: 15px;
  }

}

@media (min-width: 992px) {

  #recent-stories {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #recent-stories .story {
    margin-bottom: 42px;
  }

  #recent-stories .story-image {
    height: 279px;
  }

  #recent-stories .story-details {
    padding-left: 31px;
  }

  #recent-stories .story-section {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1.3px;
    border-width: 3px;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }

  #recent-stories .story-title {
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 38px;
  }

  #recent-stories .story-author {
    font-size: 18px;
    line-height: 22px;
  }

  #recent-stories .story-posted {
    font-size: 14px;
    line-height: 17px;
  }

}

/* Footer Styles */

footer {
  padding: 40px 30px 29px;
  background-color: #212121;
}

.footer-logo {
  margin-top: 6.5px;
}

.footer-right {
  font-size: 17px;
  color: #ffffff;
  text-align: center;
}

.footer-nav {
  background-color: transparent;
  padding: 0;
}

.footer-nav > li > a {
  color: #ffffff;
}

.footer-nav > li + li::before {
  color: inherit;
  content: "|";
}

@media (min-width: 768px) {

  footer {
    padding: 51px 20px 36px 30px;
  }

  .footer-right {
    float: right;
    text-align: right;
  }

}

@media (min-width: 992px) {

  footer {
    padding: 40px 134px 37px 138px;
  }

}
