
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  font-family: 'Lato', sans-serif;
}

/* Header Styles */

header {
  padding: 15px 15px 20px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  font-size: 0;
}

.header-menu {
  width: 30px;
  margin-top: 3px;
  background-color: transparent;
  border: none;
  padding: 0;
  vertical-align: top;
}

.header-menu > span {
  float: left;
  width: 100%;
  border: solid 0.8px #000000;
}

.header-menu > span + span {
  margin-top: 8.8px;
}

.header-title {
  display: inline-block;
  margin-left: 17px;
  font-size: 22px;
  font-weight: bold;
  line-height: 30px;
  color: #000000;
  vertical-align: top;
}

.header-search {
  float: right;
  background-color: transparent;
  border: none;
  padding: 0;
}

@media (min-width: 768px) {

  header {
    padding: 20px;
  }

}

@media (min-width: 1024px) {

  header {
    padding: 30px 40px;
  }

  .header-title {
    font-size: 32px;
    margin-left: 25px;
  }

}

/* Footer Styles */

footer {
  padding: 40px 30px 29px;
  background-color: #212121;
}

.footer-logo {
  margin-top: 6.5px;
}

.footer-right {
  font-size: 17px;
  color: #ffffff;
  text-align: center;
}

.footer-nav {
  background-color: transparent;
  padding: 0;
}

.footer-nav > li > a {
  color: #ffffff;
}

.footer-nav > li + li::before {
  color: inherit;
  content: "|";
}

@media (min-width: 768px) {

  footer {
    padding: 51px 20px 36px 30px;
  }

  .footer-right {
    float: right;
    text-align: right;
  }

}

@media (min-width: 1024px) {

  footer {
    padding: 40px 134px 37px 138px;
  }

}
